altgraph==0.17.4
cffi==1.16.0
gevent==24.2.1
greenlet==3.0.3
packaging==24.1
pefile==2023.2.7
psutil==6.0.0
pycparser==2.22
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
python-hosts==1.0.7
pywin32-ctypes==0.2.2
setuptools==71.1.0
termcolor==2.4.0
websocket-client==1.8.0
websocket-server==0.6.4
websockets==12.0
zope.event==5.0
zope.interface==6.4.post2
